<p-dialog [(visible)]="transactionDialog" [style]="{ width: '500px' }" header="Transaction Details" [modal]="true"
          styleClass="p-fluid"
          (onHide)="onDialogHide()">

  <ng-template pTemplate="content">
    <div class="formgrid grid">
      <div class="field col">
        <label for="month">Month</label>
        <p-calendar id="month" [(ngModel)]="transaction.month" view="month" dateFormat="yy-mm"></p-calendar>
      </div>
      <div class="field col">
        <label for="year">Lease Commence Date</label>
        <p-calendar id="year" [(ngModel)]="transaction.leaseCommenceDate" view="year" dateFormat="yy"></p-calendar>
      </div>
    </div>

    <div class="field">
      <label for="town">Town</label>
      <input type="text" pInputText id="town" [(ngModel)]="transaction.town" required/>
      <small class="p-error" *ngIf="submitted && !transaction.town">Town is required.</small>
    </div>
    <div class="field">
      <label for="streetName">Street Name</label>
      <textarea id="streetName" pInputTextarea [(ngModel)]="transaction.streetName" required rows="2" cols="20"></textarea>
      <small class="p-error" *ngIf="submitted && !transaction.streetName">Street Name is required.</small>
    </div>

    <div class="formgrid grid">
      <div class="field col">
        <label for="block">Block</label>
        <input type="text" pInputText id="block" [(ngModel)]="transaction.block" required />
        <small class="p-error" *ngIf="submitted && !transaction.block">Block is required.</small>
      </div>
      <div class="field col">
        <label for="storeyRange">Storey Range</label>
        <input type="text" pInputText id="storeyRange" [(ngModel)]="transaction.storeyRange" required />
        <small class="p-error" *ngIf="submitted && !transaction.storeyRange">Storey Range is required.</small>
      </div>
    </div>

    <div class="field">
      <label for="flatType">Flat Type</label>
      <input type="text" pInputText id="flatType" [(ngModel)]="transaction.flatType" required />
      <small class="p-error" *ngIf="submitted && !transaction.flatType">Flat Type is required.</small>
    </div>
    <div class="field">
      <label for="flatModel">Flat Model</label>
      <input type="text" pInputText id="flatModel" [(ngModel)]="transaction.flatModel" required />
      <small class="p-error" *ngIf="submitted && !transaction.flatModel">Flat Model is required.</small>
    </div>

    <div class="formgrid grid">
      <div class="field col">
        <label for="floorAreaSqm">Floor Area Sqm</label>
        <input type="number" pInputText id="floorAreaSqm" [(ngModel)]="transaction.floorAreaSqm" pattern="^[0-9]+$" required />
        <small class="p-error" *ngIf="submitted && !transaction.floorAreaSqm">Must be a positive integer.</small>
      </div>
      <div class="field col">
        <label for="resalePrice">Resale Price</label>
        <input type="number" pInputText id="resalePrice" [(ngModel)]="transaction.resalePrice" pattern="^[1-9]\d*$" required />
        <small class="p-error" *ngIf="submitted && !transaction.resalePrice">Must be positive integer.</small>
      </div>
    </div>
  </ng-template>

  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="saveTransaction($event)"></button>
  </ng-template>
</p-dialog>
