<p-toast></p-toast>
<p-confirmDialog></p-confirmDialog>

<div class="container">
  <p-table [columns]="columns" [value]="transactions" [tableStyle]="{ 'min-width': '50rem' }"
           dataKey="id"
           (onPage)="onPageChange($event)"
           [paginator]="true"
           [first]="first"
           [rows]="rows"
           [loading]="loading"
           [rowHover]="true"
           [totalRecords]="totalRecords"
           [rowsPerPageOptions]="[5, 10, 15]"
           currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
           [showCurrentPageReport]="true">

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns">
          {{ col.header }}
        </th>
        <th>Actions</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr>
        <td *ngFor="let col of columns">
          {{ rowData[col.field] }}
        </td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success mr-2" (click)="editProduct(rowData)"></button>
          <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="deleteProduct(rowData.id, $event)"></button>
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary" class="custom-summary">
      <div class="flex align-items-center justify-content-between">In total there are {{ transactions ? transactions.length : 0 }} transactions.</div>
    </ng-template>
    <ng-template pTemplate="paginatorleft">
      <p-button type="button" icon="pi pi-plus" styleClass="p-button-text" (click)="onDisplay()"></p-button>
    </ng-template>
  </p-table>
</div>

<app-dialog
  (onDisplay)="onDisplayDialog($event)"
  (onSubmitted)="onSubmittedDialog($event)"
  [transactionDialog]="transactionDialog"
  [submitted]="submitted"
  [transaction]="transaction">
</app-dialog>
