.container {
  width: 100vw;
  height: 85vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

p-table {
  border-radius: 10px;
  overflow: hidden;
  min-width: 95%;
}

::ng-deep .p-paginator {
  border-radius: 0;
  margin-top: 10px;
}

#card {
  position: fixed;
  bottom: 100px;
  left: 50px;
}


