.container {
  width: 100vw;
  height: 85%;
  display: flex;
  justify-content: center;
  align-items: center;
}

p-table {
  border-radius: 10px;
  width: 85%;
}
p-table td {
  /*font-size: 14px;*/
}


::ng-deep .p-paginator {
  border-radius: 0;
  margin-top: 10px;
}



.p-button-success, .p-button-warning {
  margin-right: 5px;
  margin-bottom: 5px;
}

